<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="">
    <title>Jewerly Store | Grupo 13</title>
</head>
<body>
    <header id="header">

        <div id="logo">
            <img src="" alt="logo">
        </div>

        <div id="botonesDelHeader">
                <button>Registrarte</button>
                <button>Ingresar</button>
                <button>Compras</button>
                <button>Favoritos</button>
        </div>

        <nav>
            <ul>Anillos</ul>
            <ul>Cadenas</ul>
            <ul>Aretes</ul>
            <ul>Hombres</ul>
            <ul>Niños</ul>
        </nav>

        <label for="barraDeBusqueda">
            <input type="text" placeholder="Buscar">
            <button></button>
        </label>
    </header>

    <div class="anuncios">
        <img src="" alt="anuncios">
    </div>

    <div class="beneficios">
        <p>1 beneficio</p>
        <p>otro beneficio</p>
        <p>otro beneficio mas</p>
        <p>ultimo benefecio</p>
    </div>

    <div class="productosDelHome">

    </div>
</body>
</html>